<h1>Your Viewing Party Details</h1>

<section class="new-party-form">
  <%= "Movie Title Placeholder" %>

  <%= form_with model: @party, method: :create, local: true do |f| %>
    <%= f.label :duration, 'Duration of Party' %>
    <%= f.number_field :duration, value: 15 %>

    <%= f.label :date, 'Date' %>
    <%= f.date_field :date %>

    <%= f.label :start_time, 'Start Time' %>
    <%= f.time_field :start_time %>

    <%= f.submit 'Create Party'  %>
  <% end %>

</section>
