<%= button_to "Find Top Rated Movies", movies_path, method: :get ,params: {q: "top_rated"} %>
<section id="movie-search">
	<%= form_with url: movies_path, method: :get, local: true do |f| %>
		<%= f.label :q, "Search for:" %>
		<%= f.text_field :q, id: :q %>
		<%= f.submit "Search" %>
	<% end %>
</section>

<section id="returned-movies">
	<% @returned_movies.each do |movie| %>
		<p><%= link_to "#{movie.title}", "/movies/#{movie.api_id}", params: {db_id: movie.api_id} %> Vote Average: <%= movie.vote_average %></p> <br>
	<% end %>
</section>

