<h1><%= @movie.title %></h1>

<%= link_to "Create Viewing Party for Movie", viewing_parties_new_path(:info => {title: @movie.title, api_id: @movie.api_id, duration: @movie.runtime })%><br>

<section id="movie-details">
  <p>Vote Average: <%= @movie.vote_average %></p>
  <p>Runtime: <%= @movie.runtime %></p>
  <p>Genre(s): </p>
    <ul>
      <% if @movie.genres.nil? %>
        <p>No genres listed.</p>
      <% else %>
        <% @movie.genres.each do |genre| %>
          <li><%= genre %></li>
        <% end %>
      <% end %>
    </ul>
</section><hr>

<section id="movie-summary">
  <p>Summary:<br><br> <%= @movie.summary %></p>
</section><hr>


<h2>Cast</h2>
<section id="cast-section">
	<% @cast.each_with_index do |member,index| %>
		<section id="member-<%= index %>">
			<p> <%= member.name %> as <%= member.character %> </p>	
		</section>
	<% end %>
</section>

<h2> <%= @reviews.length %> Reviews</h2>
<section id="reviews">
	<% @reviews.each_with_index do |review,index| %>
			<section id="review-<%= index %>">
				<p><%= review.author %> </p>
				<p><%= review.content %> </p> 
			</section>
	<% end %>
</section>

