<h1>Welcome <%= current_user.email %>!</h1>

<%= button_to "Discover Movies", discover_path, method: :get %>

	<section class="friends-section">
		<h3>Friends</h3><hr>
		<%= form_with url: user_friends_path, local: true do |f| %>
			<%= f.email_field :email, placeholder: 'Search by email' %>
			<%= f.submit 'Add Friend' %>
		<% end %>
			<p>My Friends</p>
				<% if !current_user.friends.empty? %>
					<%current_user.friends_email.each do |email| %>
						<ul class="friends-list">
							<li><%= email %></li>
						</ul>
					<% end %>
				<% else %>
					<p>You currently have no friends.</p>
				<% end %>
	</section>

	<section class="viewing-parties">
		<h2>Viewing Parties</h2>
		<% if current_user.parties.empty? %>
			<p>Friends haven't invited you to a viewing party yet!</p>
		<% else %>
			<%current_user.parties.each do |party| %>
				<%= link_to "#{party.movie_title}", "movies/#{party.api_id}" %><br>
				<%= party.date.strftime("%A, %d %b %Y") %><br>
				<%= party.start_time %><br>
				<% if party.user_id == current_user.id %>
					<p>Hosting</p>
				<% else %>
					<p>Invited</p>
				<% end %>
			 <% end %><hr>
		<% end %>
	</section>
