<h1>Welcome <%= current_user.email %>!</h1>

<%= button_to "Discover Movies", discover_path, method: :get %>

	<section class="friends-section">
		<p>Friends</p>
		<%= form_with url: user_friends_path, local: true do |f| %>
			<%= f.email_field :email, placeholder: 'Search by email' %>
			<%= f.submit 'Add Friend' %>
		<% end %>
		<% if !current_user.friends.empty? %>
			<%current_user.friends.each do |friend| %>
				<%= User.find_by(id: friend.friend_id).email %>
			<% end %>
		<% else %>
			<p>You currently have no friends.</p>
		<% end %>
	</section>

	<section class="viewing-parties">
		<p>Placeholder!</p>
			<%@user.parties.each do |party| %>
			<% end %>
	</section>
